<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReleaseTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReleaseTool.Properties.Settings>
            <setting name="MuphicReleasePath" serializeAs="String">
                <value>muphic ver.7b\muphic\bin\x86\Release\muphic.exe</value>
            </setting>
            <setting name="MuphicDebugPath" serializeAs="String">
                <value>muphic ver.7b\muphic\bin\x86\Debug\muphic.exe</value>
            </setting>
            <setting name="MuphicArchivePath" serializeAs="String">
                <value>muphic ver.7b\muphic\bin\x86\Archive\data01.dat</value>
            </setting>
            <setting name="MuphicConfPath" serializeAs="String">
                <value>muphic ver.7b\ConfigurationTool\bin\x86\Release\muphic 動作設定ツール.exe</value>
            </setting>
            <setting name="FileNotfoundTitle" serializeAs="String">
                <value>%str1%ファイルが見つかりません。</value>
            </setting>
            <setting name="FileNotfoundMessage" serializeAs="String">
                <value>パス : %str1%</value>
            </setting>
            <setting name="DistDirectoryName" serializeAs="String">
                <value>muphic ver.%str1%</value>
            </setting>
            <setting name="OverwriteMessage" serializeAs="String">
                <value>発行フォルダ %str1% は既に存在します。上書きしますか？</value>
            </setting>
            <setting name="OverwriteTitle" serializeAs="String">
                <value>上書き確認</value>
            </setting>
            <setting name="JpnKanaConversionDllReleasePath" serializeAs="String">
                <value>muphic ver.7b\muphic\bin\x86\Release\JpnKanaConversion.dll</value>
            </setting>
            <setting name="JpnKanaConvHelperDllReleasePath" serializeAs="String">
                <value>muphic ver.7b\muphic\bin\x86\Release\JpnKanaConvHelper.dll</value>
            </setting>
        </ReleaseTool.Properties.Settings>
    </applicationSettings>
</configuration>