<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigurationTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConfigurationTool.Properties.Settings>
            <setting name="ErrorLogFileName" serializeAs="String">
                <value>muphic_conf.log</value>
            </setting>
            <setting name="MuphicFileName" serializeAs="String">
                <value>muphic.exe</value>
            </setting>
            <setting name="MuphicProductName" serializeAs="String">
                <value>muphic</value>
            </setting>
            <setting name="DeveloperAddress" serializeAs="String">
                <value>a0825@ccedu.sendai-ct.ac.jp</value>
            </setting>
            <setting name="PrinterSelectDefaultValue" serializeAs="String">
                <value>印刷に使用するプリンタの選択</value>
            </setting>
            <setting name="MuphicLogFileName" serializeAs="String">
                <value>muphic.log</value>
            </setting>
        </ConfigurationTool.Properties.Settings>
    </applicationSettings>
</configuration>