<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Muphic.Settings.Resource" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Muphic.Settings.System" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Muphic.Settings.Resource>
            <setting name="OneScreenAutoSave" serializeAs="String">
                <value>AutoSave\OneScreen</value>
            </setting>
        </Muphic.Settings.Resource>
        <Muphic.Settings.System>
            <setting name="WindowSize_Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowSize_Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowTitle" serializeAs="String">
                <value>muphic</value>
            </setting>
            <setting name="Composition_HouseLightTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AlphaBlending_PartsDisabled" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AlphaBlending_PartsEnabled" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="EnabledNowLoading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileExtension_ScoreData" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="FileExtension_StoryData" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="Composition_MaxTitleLength" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="StoryMake_MaxTitleLength" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="StoryMake_MaxSentenceLength" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="StoryMake_MaxPage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ApplicationMutexName" serializeAs="String">
                <value>muphic_v7</value>
            </setting>
            <setting name="AlphaBlending_CursorHoming" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="StoryMake_DefaultTitle" serializeAs="String">
                <value>あたらしいものがたり</value>
            </setting>
            <setting name="StoryPlayer_InterludeFrame" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MuphicYellow" serializeAs="String">
                <value>255, 255, 160</value>
            </setting>
            <setting name="StoryComposition_DefaultTitle" serializeAs="String">
                <value>ものがたり %str1%ページめ</value>
            </setting>
            <setting name="Arguments_ConfigMode" serializeAs="String">
                <value>-config</value>
            </setting>
            <setting name="ArchiveHeaderBytes" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CompositionMeterNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MemoryCheckSpan" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MuphicConfigFileName" serializeAs="String">
                <value>muphic 動作設定ツール.exe</value>
            </setting>
            <setting name="MuphicConfigProductName" serializeAs="String">
                <value>ConfigurationTool</value>
            </setting>
            <setting name="PlayerName_MaxLength" serializeAs="String">
                <value>15</value>
            </setting>
        </Muphic.Settings.System>
    </applicationSettings>
</configuration>